* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* IMPORTS */

/* font-family: 'Shizuru', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,300&display=swap');


:root {
    --primary-clr: #2F3A8F;
    --secondary-clr: #FE7E6D;
    --third-clr: #FEECE9;
    --contrast-clr: #454543;
    --bg-clr: #CCD1E4;
    --section-clr: #7C9CB4;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
/* HEADER */
.header {
    position: absolute;
    width: 100%;
    height: 3em;
    z-index: 2000;
}
.header .logo {
    position: fixed;
    width: 4.4em;
    /* color: var(--third-clr); */
    margin: 0 .7em;
    z-index: 2800;
}
.header .logo img {
    width: 100%;
}
/* NAVBAR */
.header .nav-bar {
    position: fixed;
    width: 100%;
    height: 3em;
    background: #C1D3F6;
}
.header .nav-bar__ul {
    position: fixed;
    width: 100%;
    height: 3em;
    display: none; /* PONER DISPLAY FLEX EN MEDIA QUERY */
    justify-content: flex-end;
    align-items: center;
    z-index: 2200;
}
.header .nav-bar__ul .nav-bar__li {
    list-style-type: none;
    transition: all .10s linear;
}
.header .nav-bar__ul .nav-bar__li a {
    text-decoration: none;
    color: var(--primary-clr);
    font-size: 1.3em;
    padding: 0px 20px;
}
.header .nav-bar__ul .nav-bar__li:hover {
    transform: scale(1.2);
}
/* NAV-RESPONSIVE IMPORTADO DE LANDING */
.header .nav__resp {
    position: fixed;
    width: 100%;
    /* min-height: 65px; */
    height: 3em;
    /* background: #999; */
    z-index: 2500;
}
.header .nav__resp .nav-container__resp {
    position: relative;
    display: flex;
    height: 294px;
    background-color: #C1D3F6;
    margin-top: -500px;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    transition: margin-top .8s;
    z-index: 2600;
}
.header .nav__resp .nav-container__resp .nav-item__resp {
    width: 62%;
    padding: 20px 0;
    list-style-type: none;
    text-align: center;
    border-bottom: 2px solid #777;
}
.header .nav__resp .nav-container__resp .nav-item__resp > a {
    font-size: 1.3em;
    font-weight: 600;
    color: #000639;
    text-decoration: none;
}
.header .nav__resp #cerrar {
    display: none;
}
.header .nav__resp .boton-nav {
    position: fixed;
    width: 41px;
    height: 37px;
    top: 10px;
    right: 15px;
    cursor: pointer;
    z-index: 2700;
}
.header .nav__resp #abrir b {
    position: absolute;
    width: 34px;
    height: 4px;
    margin: 0 auto;
    background-color: #0012a0;
}
.header .nav__resp #abrir b::before {
    position: absolute;
    content: "";
    top: 13px;
    width: 34px;
    height: 4px;
    background-color: #0012a0;
}
.header .nav__resp #abrir b::after {
    position: absolute;
    content: "";
    top: 27px;
    width: 34px;
    height: 4px;
    background-color: #0012a0;
}

.header .nav__resp .active b {
    position: absolute;
    transition: all 1s ease;
}
.header .nav__resp .active b::before {
    position: absolute;
    content: "";
    width: 34px;
    height: 4px;
    transform: rotate(45deg);
    top: 13px;
    background-color: #0012a0;
}
.header .nav__resp .active b::after {
    position: absolute;
    content: "";
    width: 34px;
    height: 4px;
    top: 13px;
    transform: rotate(-45deg);
    background-color: #0012a0;
}
/* TITULO */
.main {
    /* position: absolute; */
    width: 100%;
    height: auto;
    background-color: #E6ECF8;
    padding-top: 3em;
}
.main .container-mouse .container-mouse__texto {
    display: none;
}
.main .container-welcome {
    width: 100%;
}
.main .container-welcome .titulo-h3, .titulo-h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.55em;
    text-align: center;
    font-style: italic;
    cursor: default;
    padding: .9em;
}
.main .container-welcome .titulo-h4 {
    font-style: normal;
    font-size: 1em;
    max-width: 768px;
    margin: 0 auto;
}
.main .container-welcome .container-ilustracion {
    margin: 0 auto;
    max-width: 768px;
    min-width: 280px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
}
.main .container-welcome .container-ilustracion img {
    width: 100%;
}
/* CARDS SECTION */
.main .card-section {
    position: relative;
    background: linear-gradient(180deg, var(--section-clr), #3d6b8d 44%);
    padding-bottom: 30px;
}
.main .card-section .fondo-section {
    position: absolute;
    width: 100%;
    top: -147px;
    height: 148px;
    background-color: var(--section-clr);
}
.main .card-section .container-cards {
    position: relative;
    max-width: 1125px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .6em;
}
.main .card-section .container-cards h3 {
    display: none;
}
.main .card-section .container-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 164px;
    height: auto;
    background-color: #b7a8a8;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0px 0px 7px #b7a8a8;
    padding: 1.2em;
}
.main .card-section .container-cards .card .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* border: 2px solid rgba(0, 0, 0, 0.0); */
    background-color: #f5f5f5;
    overflow: hidden;
    margin-bottom: .65em;
}
.main .card-section .container-cards .card .container-img img {
    width: 179px;
    position: relative;
    top: -13px;
}
.main .card-section .container-cards .card .container-img svg {
    width: 100px;
    position: relative;
    top: 7px;
}
.main .card-section .container-cards .card .titulo-card {
    text-align: center;
    cursor: default;
    font-size: 1.2em;
    color: #352525;
}
.main .card-section .container-cards .card .subtitulo {
    display: none;
    cursor: default;
    font-size: 1.05em;
    font-weight: 600;
    text-align: center;
    padding: .7em 0;
    color: #454545;
}
/* PORTFOLIO */
.main .portfolio {
    background-color: #3d6b8d;
}
.main .portfolio .container-portfolio {
    position: relative;
    max-width: 1125px;
    margin: 0 auto;
}

.main .portfolio .container-portfolio h3 {
    font-size: 2.9em;
    cursor: default;
    font-weight: 300;
    color: var(--bg-clr);
    text-align: center;
    padding-bottom: 1em;
}
/* CONTACTO */
.main .contacto {
    background-color: #3d6b8d;
}
.main .contacto .container-contacto {
    position: relative;
    max-width: 1125px;
    margin: 0 auto;
}
.main .contacto .container-contacto h3 {
    font-size: 2.9em;
    cursor: default;
    font-weight: 300;
    color: var(--bg-clr);
    text-align: center;
    padding-bottom: 1em;
}
/* FOOTER */
.footer {
    width: 100%;
}
/* MEDIA QUERY */
@media screen and (min-width: 768px) {
    .header .nav-bar {
        background-color: #E6ECF8;
    }
    .header .nav-bar__ul {
        display: flex;
    }
    .header .nav__resp {
        display: none;
    }
    @keyframes scroll {
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(15px);
        }
        100%{
            transform: translateY(0px);
        }
    }
    .main .container-mouse {
        position: absolute;
        width: 100px;
        height: 200px;
        /* border: 2px solid #f00; */
        left: 16%;
        top: 45%;
        z-index: 3000;
    }
    .main .container-mouse .container-mouse__texto {
        display: block;
        cursor: default;
        color: rgba(41, 39, 39, 0.63);
    }
    .main .container-mouse .mouse {
        width: 70px;
        height: 103px;
        border: 3px solid rgba(41, 39, 39, 0.63);
        border-radius: 50px;
    }
    .main .container-mouse .mouse::before {
        content: "";
        position: absolute;
        width: 5px;
        height: 15px;
        background-color: rgba(41, 39, 39, 0.63);
        left: 33px;
        top: 44px;
        border-radius: 50px;
    }
    .main .container-mouse .container-flecha {
        animation: scroll 2s infinite;
    }
    .main .container-mouse .container-flecha .flecha {
        position: absolute;
        color: rgba(41, 39, 39, 0.63);
        width: 40px;
        height: 40px;
        border-left: 3px solid rgba(41, 39, 39, 0.63);
        border-bottom: 3px solid rgba(41, 39, 39, 0.63);
        transform: rotate(315deg);
        left: 14px;
        top: -13px;
    }
    .main .container-mouse .container-flecha .flecha::after {
        content: "";
        position: absolute;
        color: rgba(41, 39, 39, 0.63);
        width: 40px;
        height: 40px;
        border-left: 3px solid rgba(41, 39, 39, 0.63);
        border-bottom: 3px solid rgba(41, 39, 39, 0.63);
        left: -20px;
        bottom: -20px;
    }
    .main .container-welcome {
        height: calc(100vh - 3em);
    }
    .main .container-welcome .titulo-h3, .titulo-h4 {
        font-size: 2.1em;
        padding-top: 48px;
    }
    .main .container-welcome .container-ilustracion {
        margin: 143px auto;
    }
    .main .card-section .container-cards {
        row-gap: 2.3em;
        top: 5px;
        padding-top: 55px;
    }
    .main .card-section .fondo-section {
        top: -317px;
        height: 321px;
    }
    .main .card-section .container-cards h3 {
        display: block;
        position: absolute;
        font-size: 2.9em;
        font-weight: 300;
        color: var(--bg-clr);
        width: 200px;
        margin-left: -53%;
        top: -1%;
        z-index: 1000;
        cursor: default;
    }
    .main .card-section .container-cards .card {
        transition: transform .15s ease-in, background-color .15s ease-in, box-shadow .15s ease-in, background-color .15s ease-in;
        max-width: 300px;
    }
    .main .card-section .container-cards .card:hover {
        background-color: #aa9a9a;
        box-shadow: 0px 0px 8px #b7a8a8, 0px 0px 10px #b7a8a8, 0px 0px 12px #b7a8a8;
        transform: scale(1.09);
    }
    .main .card-section .container-cards .card .container-img {
        width: 200px;
        height: 200px;
        margin-bottom: 1em;
        transition: transform .1s ease-out;
    }
    .main .card-section .container-cards .card .container-img img {
        width: 200px;
        top: 0px;
    }
    .main .card-section .container-cards .card .container-img svg {
        width: 124px;
        top: 0px;
    }
    .main .card-section .container-cards .card .subtitulo {
        display: block;
    }
    .main .portfolio .container-portfolio h3 {
        text-align: left;
        margin-left: 18%;
    }
    .main .contacto .container-contacto h3 {
        text-align: left;
        margin-left: 18%;
    }
}