* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* IMPORTS */

/* font-family: 'Shizuru', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

/* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,500;1,300&display=swap');


:root {
    --primary-clr: #2F3A8F;
    --secondary-clr: #FE7E6D;
    --third-clr: #FEECE9;
    --contrast-clr: #454543;
    --bg-clr: #CCD1E4;
    --section-clr: #7C9CB4;
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
/* HEADER */
.header {
    position: fixed;
    width: 100%;
    height: 3em;
    z-index: 2000;
}
.header .logo {
    position: fixed;
    width: 4.4em;
    /* color: var(--third-clr); */
    margin: 0 .7em;
    z-index: 2100;
}
.header .logo img {
    width: 100%;
}
/* NAVBAR */
.header .nav-bar {
    position: fixed;
    width: 100%;
    height: 3em;
    background: #C1D3F6;
}
.header .nav-bar__ul {
    position: fixed;
    width: 100%;
    height: 3em;
    display: none; /* PONER DISPLAY FLEX EN MEDIA QUERY */
    justify-content: flex-end;
    align-items: center;
    z-index: 2200;
}
.header .nav-bar__ul .nav-bar__li {
    list-style-type: none;
    transition: all .10s linear;
}
.header .nav-bar__ul .nav-bar__li a {
    text-decoration: none;
    color: var(--primary-clr);
    font-size: 1.3em;
    padding: 0px 20px;
}
.header .nav-bar__ul .nav-bar__li:hover {
    transform: scale(1.2);
}
/* TITULO */
.main {
    position: absolute;
    width: 100%;
    /* height: calc(100vh - 3em); */
    background-color: #E6ECF8;
    /* background: url(./assets/img/fondo_sancle.jpg); */
    background-size: 250%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 3em;
    padding-top: 1em;
}
.main .container-welcome {
    width: 100%;
}
.main .container-welcome .titulo-h3, .titulo-h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.55em;
    text-align: center;
    padding-bottom: .9em;
    font-style: italic;
    cursor: default;
}
.main .container-welcome .titulo-h4 {
    font-style: normal;
    font-size: 1em;
    max-width: 768px;
    margin: 0 auto;
}
.main .container-welcome .container-ilustracion {
    margin: 0 auto;
    max-width: 768px;
    min-width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1000;
}
.main .container-welcome .container-ilustracion img {
    width: 100%;
}
/* CARDS SECTION */
.main .card-section {
    position: relative;
    background-color: var(--section-clr);
    padding-bottom: 30px;
}
.main .card-section .fondo-section {
    position: absolute;
    width: 100%;
    top: -148px;
    height: 148px;
    background-color: var(--section-clr);
}
.main .card-section .container-cards {
    position: relative;
    max-width: 1125px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .6em;
}
.main .card-section .container-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 300px;
    height: auto;
    background-color: #b7a8a8;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0px 0px 7px #b7a8a8;
    padding: 1.2em;
}
.main .card-section .container-cards .card .container-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.0);
    overflow: hidden;
    margin-bottom: 1em;
}
.main .card-section .container-cards .card .container-img img {
   width: 200px;
}
.main .card-section .container-cards .card .container-img svg {
    width: 132px;
}
.main .card-section .container-cards .card .titulo-card {
    cursor: default;
    font-size: 1.2em;
    color: #352525;
}
.main .card-section .container-cards .card .subtitulo {
    cursor: default;
    font-size: 1.05em;
    font-weight: 600;
    text-align: center;
    padding: .7em 0;
    color: #454545;
}


/* MEDIA QUERY */
@media screen and (min-width: 768px) {
    .header .nav-bar {
        background-color: #E6ECF8;
    }
    .header .nav-bar__ul {
        display: flex;
    }
    .main .container-welcome .titulo-h3, .titulo-h4 {
        font-size: 2.1em;   
    }
    .main .card-section .container-cards {
        top: 5px;
    }
}